<div class="container">
  <p><%= params[:answer] %>
  <p>-You</p>
</div>
<div class="container">
  <p><%= @answers %></p>
  <p> -Your Coach </p>
</div>
<div class="container"><%= link_to "Ask another question", ask_path %></div>
